<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>

    <link th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/css/font-awesome.css}" rel="stylesheet"/>
    <link th:href="@{/css/custom.css}" rel="stylesheet"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<body>
     
           
          
    <div id="wrapper">
         <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="adjust-nav">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <h1>Melior</h1>

                    </a>
                    
                </div>
              
                <span class="logout-spn" >
                  <a href="#" style="color:#fff;">LOGOUT</a>  

                </span>
            </div>
        </div>
        <!-- /. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li>
                        <a href="/cash" ><i class="fa fa-credit-card "></i>Caixa</a>
                    </li>
                    <li>
                        <a href="/menu" ><i class="fa fa-book"></i>Carta</a>
                    </li>
                    <li class="active-link">
                        <a href="/ingredients" ><i class="fa fa-briefcase "></i>Ingredients</a>
                    </li>
                    
                </ul>
                            </div>

        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
            <div id="page-inner">
                <div class="row">
                    <div class="col-lg-12 ">
                        <form class="form-inline">
                            <div class="form-group">
                                <label>Nom: </label>
                                <input type="text" class="form-control" id="create-ingredient-name" placeholder="Nom"/>
                            </div>
                            <div class="form-group">
                                <label>    Preu de Cost €: </label>
                                <input type="email" class="form-control" id="create-ingredient-price" placeholder="€"/>
                            </div>
                            <button type="submit" class="btn btn-success" onclick="createIngredient()">Crear</button>
                        </form>
                        <br/><br/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 ">

                        <!-- Modal -->
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">

                                    <div class="modal-body">


                                        <table class="table table-condensed">
                                            <tr>
                                                <td><input type="unitats" class="form-control" id="update-ingredient-name" placeholder="Nom"/></td>
                                                <td><input type="unitats" class="form-control" id="update-ingredient-price" placeholder="Preu de Cost €"/></td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary" onclick="updateIngredient()">Update</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12" >
                        <table class="table table-condensed">
                            <tr>
                                <th>Nom</th>
                                <th>Preu de cost (€)</th>
                                <th>Update</th>
                                <th>Borrar</th>
                            </tr>
                            <tr th:each="ingredient  : ${ingredients}">
                                <td th:id="${ingredient._id} +'-name'" th:text="${ingredient.name}"></td>
                                <td th:id="${ingredient._id} +'-price'" th:text="${ingredient.price}"></td>
                                <td><button type="button" class="btn-xs btn-info" th:onclick="'updateModal(\''+ ${ingredient._id} +'\')'">update</button></td>
                                <td><button type="button" class="btn-xs btn-danger" th:onclick="'deleteIngredient(\''+ ${ingredient._id} +'\')'">borrar</button></td>
                            </tr>

                        </table>
                    </div>
                </div>



                  <!-- /. ROW  --> 
    </div>
             <!-- /. PAGE INNER  -->
            </div>
         <!-- /. PAGE WRAPPER  -->
        </div>
    <div class="footer">
      
    
            <div class="row">
                <div class="col-lg-12" >
                    &copy;  2014 yourdomain.com | Design by: <a href="http://binarytheme.com" style="color:#fff;" target="_blank">www.binarytheme.com</a>
                </div>
            </div>
        </div>

    <script th:src="@{/js/jquery-1.10.2.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/custom.js}"></script>

    <script type="text/javascript">

    var idUpdateSelected;

    function createIngredient(){
        $.ajax({
            url : "/ingredients/create",
            type: "POST",
            data : {name: $("#create-ingredient-name").val(),
                    price: $("#create-ingredient-price").val()},
            success: function(data, textStatus, jqXHR) { location.reload();}
        });
    }

    function deleteIngredient(idIngredient){
        $.ajax({
            url : "/ingredients/delete",
            type: "POST",
            data : {id: idIngredient},
            success: function(data, textStatus, jqXHR) { location.reload();}
        });
    }

    function updateModal(idIngredient){
         idUpdateSelected = idIngredient;

         $("#update-ingredient-name").val($("#"+idIngredient+"-name").text());
         $("#update-ingredient-price").val($("#"+idIngredient+"-price").text());
         $('#myModal').modal('show');
    }

    function updateIngredient(){
        $.ajax({
            url : "/ingredients/update",
            type: "POST",
            data : {id: idUpdateSelected,
                    name: $("#update-ingredient-name").val(),
                    price: $("#update-ingredient-price").val()},
            success: function(data, textStatus, jqXHR) { location.reload();}
        });
    }



    </script>
</body>
</html>
