<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>

    <link th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/css/font-awesome.css}" rel="stylesheet"/>
    <link th:href="@{/css/custom.css}" rel="stylesheet"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<body>
           
          
    <div id="wrapper">
         <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="adjust-nav">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <h1>Melior</h1>

                    </a>
                    
                </div>
              
                <span class="logout-spn" >
                  <a href="#" style="color:#fff;">LOGOUT</a>  

                </span>
            </div>
        </div>
        <!-- /. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">

                    <li>
                        <a href="/cash" ><i class="fa fa-credit-card"></i>Caixa</a>
                    </li>
                    <li class="active-link">
                        <a href="/menu" ><i class="fa fa-book "></i>Carta</a>
                    </li>
                    <li>
                        <a href="/ingredients" ><i class="fa fa-briefcase"></i>Ingredients</a>
                    </li>


                    
                </ul>
                            </div>

        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
            <div id="page-inner">
                <div class="row">
                    <div class="col-lg-12">
                        <button type="button" class="btn-lg btn-success" data-toggle="modal" data-target="#modal-create-consumible"> Nou article</button>
                    </div>
                </div>              
                 <!-- /. ROW  -->
                  <hr />

                <!-- <div class="row">
                    <div class="col-lg-12 ">
                        <br/>
                        <div class="alert alert-success">
                            <strong>Ordre Cobrada</strong> Checkout fontawesome website and use any icon <a target="_blank" href="http://fortawesome.github.io/Font-Awesome/icons/">Click Here</a>.
                        </div>

                    </div>
                </div>-->

                <div class="row">
                    <div class="col-lg-12 ">

                      <!-- Modal -->
                      <div class="modal fade" id="modal-create-consumible" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-body">

                                <input type="unitats" class="form-control" id="create-consumible-name" placeholder="Nom"/>

                        <table class="table table-condensed">
                         <tr>
                          
                          <th>Preu de cost (€)</th>
                          <th>Preu Assignat (€)</th>
                         </tr>
                          <tr>
                          <td id="create-consumible-cost">0.0</td>
                          <td><input type="unitats" class="form-control" id="create-consumible-price" placeholder="€"/></td>
                         </tr>
                        </table>


                              <table class="table table-condensed">
                         <tr>
                          <th>Aticle</th>
                          <th>Quantitat</th>
                          <th>Afegir</th>
                         </tr>
                          <tr>
                          <td>
                            <select class="form-control" id="create-ingredient-select">
                              <option>Tria...</option>
                              <option th:each="ingredient  : ${ingredients}" th:text="${ingredient.name}" th:value="${ingredient._id}" th:attr="data-price=${ingredient.price}"></option>
                            </select>
                          </td>
                          <td><input type="unitats" class="form-control" id="create-ingredient-quantity" placeholder="(Unitats / g)"/></td>
                          <td><button type="button" class="btn-xs btn-info" onclick="addIngredientCreate()">Afegir</button></td>
                         </tr>
                        </table>

                        <table id="table-create-ingredients" class="table table-condensed">
                            <thead>
                            <tr>
                              <th>Aticle</th>
                              <th>Quantitat (Unitari / g)</th>
                              <th>Borrar</th>
                             </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>



                              
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal" onclick="cleanUpIngredientsAdded()">Close</button>
                              <button type="button" class="btn btn-primary" onclick="createConsumable()">Crear Article</button>
                            </div>
                          </div>
                        </div>
                      </div>



                        <div class="modal fade" id="modal-update-consumible" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-body">

                                        <input type="unitats" class="form-control" id="update-consumible-name" placeholder="Nom"/>

                                        <table class="table table-condensed">
                                            <tr>

                                                <th>Preu de cost (€)</th>
                                                <th>Preu Assignat (€)</th>
                                            </tr>
                                            <tr>
                                                <td id="update-consumible-cost">0.0</td>
                                                <td><input type="unitats" class="form-control" id="update-consumible-price" placeholder="€"/></td>
                                            </tr>
                                        </table>


                                        <table class="table table-condensed">
                                            <tr>
                                                <th>Aticle</th>
                                                <th>Quantitat</th>
                                                <th>Afegir</th>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <select class="form-control" id="update-ingredient-select">
                                                        <option>Tria...</option>
                                                        <option th:each="ingredient  : ${ingredients}" th:text="${ingredient.name}" th:value="${ingredient._id}" th:attr="data-price=${ingredient.price}"></option>
                                                    </select>
                                                </td>
                                                <td><input type="unitats" class="form-control" id="update-ingredient-quantity" placeholder="(Unitats / g)"/></td>
                                                <td><button type="button" class="btn-xs btn-info" onclick="addIngredientUpdate()">Afegir</button></td>
                                            </tr>
                                        </table>

                                        <table id="table-update-ingredients" class="table table-condensed">
                                            <thead>
                                            <tr>
                                                <th>Aticle</th>
                                                <th>Quantitat (Unitari / g)</th>
                                                <th>Borrar</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>




                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="cleanUpIngredientsAdded()">Close</button>
                                        <button type="button" class="btn btn-primary" onclick="updateConsumable()">Crear Article</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    </div>
                <div class="row">
                    <div class="col-lg-12" >
                        <table class="table table-condensed">
                            <tr>
                                <th>Nom</th>
                                <th>Preu de cost (€)</th>
                                <th>Preu de carta (€)</th>
                                <th>Update</th>
                                <th>Borrar</th>
                            </tr>
                            <tr th:each="consumable  : ${consumables}">
                                <td th:id="${consumable._id} +'-name'" th:text="${consumable.name}"></td>
                                <td th:id="${consumable._id} +'-cost'" th:text="${consumable.cost}"></td>
                                <td th:id="${consumable._id} +'-price'" th:text="${consumable.priceOnMenu}"></td>
                                <td><button type="button" class="btn-xs btn-info" th:onclick="'updateModal(\''+ ${consumable._id} +'\')'">update</button></td>
                                <td><button type="button" class="btn-xs btn-danger" th:onclick="'deleteConsumable(\''+ ${consumable._id} +'\')'">borrar</button></td>
                            </tr>

                        </table>
                    </div>
                </div>
    </div>
             <!-- /. PAGE INNER  -->
            </div>
         <!-- /. PAGE WRAPPER  -->
        </div>
    <div class="footer">
      
    
            <div class="row">
                <div class="col-lg-12" >
                    &copy;  2014 yourdomain.com | Design by: <a href="http://binarytheme.com" style="color:#fff;" target="_blank">www.binarytheme.com</a>
                </div>
            </div>
        </div>


    <script th:src="@{/js/jquery-1.10.2.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/custom.js}"></script>

    <script th:inline="javascript">

/*<![CDATA[*/

    var ingredientsAdded = [];
    var idUpdateSelected;

    var consumablesList = [[${consumables}]];
    var ingredientsList = [[${ingredients}]];



    function addIngredientCreate(){

       $('#create-consumible-cost').text(parseFloat($("#create-ingredient-quantity").val()) * parseFloat($("#create-ingredient-select option:selected").data("price")) + parseFloat($('#create-consumible-cost').text()));

       ingredientsAdded.push({ingredientId : $("#create-ingredient-select option:selected").val(), quantity: $("#create-ingredient-quantity").val()});

       $("#table-create-ingredients").append('<tr id="create-'+$("#create-ingredient-select option:selected").val()+'-row"><td>'+$("#create-ingredient-select option:selected").text()+'</td><td>'+$("#create-ingredient-quantity").val()+'</td><td><button type="button" class="btn-xs btn-danger" onclick="removeIngredientCreate(\'create-'+$("#create-ingredient-select option:selected").val()+'\')">Delete</button></td></tr>');

   }

   function addIngredientUpdate(){

       $('#update-consumible-cost').text(parseFloat($("#update-ingredient-quantity").val()) * parseFloat($("#update-ingredient-select option:selected").data("price")) + parseFloat($('#update-consumible-cost').text()));

       ingredientsAdded.push({ingredientId : $("#update-ingredient-select option:selected").val(), quantity: $("#update-ingredient-quantity").val()});

       $("#table-update-ingredients").append('<tr id="update-'+$("#update-ingredient-select option:selected").val()+'-row"><td>'+$("#update-ingredient-select option:selected").text()+'</td><td>'+$("#update-ingredient-quantity").val()+'</td><td><button type="button" class="btn-xs btn-danger" onclick="removeIngredientUpdate(\'create-'+$("#update-ingredient-select option:selected").val()+'\')">Delete</button></td></tr>');

   }

     function removeIngredientCreate(idToBeRemoved){


          $('#create-'+idToBeRemoved+'-row').remove();

          var ingredientsAddedAux = [];

          for(i=0;i<ingredientsAdded.length;i++){
              if(ingredientsAdded[i].ingredientId != idToBeRemoved){
                  ingredientsAddedAux.push(ingredientsAdded[i]);
              }
          }

         ingredientsAdded = ingredientsAddedAux;
     }

     function removeIngredientUpdate(idToBeRemoved){


          $('#update-'+idToBeRemoved+'-row').remove();

          var ingredientsAddedAux = [];

          for(i=0;i<ingredientsAdded.length;i++){
              if(ingredientsAdded[i].ingredientId != idToBeRemoved){
                  ingredientsAddedAux.push(ingredientsAdded[i]);
              }
          }

         ingredientsAdded = ingredientsAddedAux;
     }


   function createConsumable(){
        $.ajax({
            url : "/consumable/create",
            type: "POST",
            data : {name: $("#create-consumible-name").val(),
                    price: $("#create-consumible-price").val(),
                    ingredients: JSON.stringify(ingredientsAdded)},
            success: function(data, textStatus, jqXHR) { location.reload();}
        });
    }

    function deleteConsumable(idConsumable){
        $.ajax({
            url : "/consumable/delete",
            type: "POST",
            data : {id: idConsumable},
            success: function(data, textStatus, jqXHR) { location.reload();}
        });
    }

    function updateModal(idConsumable){

        $('#table-update-ingredients tbody > tr').remove();
        idUpdateSelected = idConsumable;


        for(i=0;i<consumablesList.length;i++){
              if(consumablesList[i]._id == idConsumable){
                  $("#update-consumible-name").val(consumablesList[i].name);
                  $("#update-consumible-price").val(consumablesList[i].priceOnMenu);
                  $('#update-consumible-cost').text(consumablesList[i].cost);

                  for(j=0; j<consumablesList[i].ingredientUsedList.length; j++){

                        ingredientsAdded.push({ingredientId : consumablesList[i].ingredientUsedList[j].ingredientId, quantity: consumablesList[i].ingredientUsedList[j].quantity});

                        var ingredientName;
                        for(m=0;m<ingredientsList.length;m++){
                              if(ingredientsList[m]._id == consumablesList[i].ingredientUsedList[j].ingredientId){
                                  ingredientName = ingredientsList[m].name;
                              }
                          }

                        ingredientsAdded.push({ingredientId : consumablesList[i].ingredientUsedList[j].ingredientId, quantity: consumablesList[i].ingredientUsedList[j].quantity});

                        $("#table-update-ingredients").append('<tr id="'+consumablesList[i].ingredientUsedList[j].ingredientId+'-row"><td>'+ingredientName+'</td><td>'+consumablesList[i].ingredientUsedList[j].quantity+'</td><td><button type="button" class="btn-xs btn-danger" onclick="removeIngredient(\''+consumablesList[i].ingredientUsedList[j].ingredientId+'\')">Delete</button></td></tr>');

                  }
              }
          }
         $('#modal-update-consumible').modal('show');
    }

    function cleanUpIngredientsAdded(){

        ingredientsAdded = [];

    }


    function updateConsumable(){
          $.ajax({
            url : "/consumable/update",
            type: "POST",
            data : {id: idUpdateSelected,
                    name: $("#update-consumible-name").val(),
                    price: $("#update-consumible-price").val(),
                    ingredients: JSON.stringify(ingredientsAdded)},
            success: function(data, textStatus, jqXHR) { location.reload();}
        });
    }
 /*]]>*/

    </script>

</body>
</html>
